@import 'vars';

.wave-top {
   position: fixed;
   top: 0;
   width: 100%;
   transform: scaleX(-1);
   transform: scaleY(-1);
}

.wave-bottom {
   position: fixed;
   bottom: 0;
   width: 100%;
}

.login-box {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   width: 400px;
   min-height: 550px;
   background: white;
   border: 1px solid var(--purple);
   border-radius: 25px;
   padding: 40px
}

h2 {
   margin: 0;
   padding: 0 0 20px;
   color: var(--black);
   text-align: left;
   font-family: 'Inter', sans-serif;
   font-weight: bold;
   text-align: center;
}

.login-box select option {
   color: var(--light-pink);
}

.login-box input, .login-box select {
   width: 100%;
   margin-bottom: 20px;
}

.login-box input[type="email"],
.login-box input[type="password"],
.login-box input[type="text"],
.login-box input[type="number"],
.login-box select {
   border: none;
   border-bottom: 0.75px solid rgba(0, 0, 0, 0.25);
   outline: none;
   height: 40px;
   color: var(--black);
   background: transparent;
   font-family: 'Nunito', sans-serif;
   font-weight: 600;
   font-size: 16px;
   padding-left: 5px;
   box-sizing: border-box;
}

.login-box input[type="email"]:focus,
.login-box input[type="password"]:focus,
.login-box input[type="text"]:focus,
.login-box input[type="number"]:focus,
.login-box select:focus {
   border-bottom: 2px solid var(--light-pink);
}

.input-box {
   position: relative;
   width: 85%;
   margin: 0 0 0 auto;
}

.input-box span {
   position: absolute;
   top: 12.5px;
   left: -45px;
}

.input-box .eye-crossed {
   position: fixed;
   right: 45px;
   padding-bottom: 5px;
}

.input-box-1 {
   display: flex;
   position: absolute;
   width: 25%;
   left: 87.5px;
}

.input-box-1 span {
   position: absolute;
   top: 12.5px;
   left: -45px;
}

.input-box-2 {
   position: relative;
   width: 35%;
   margin: 0 0 0 auto;
}

.input-box-2 span {
   position: absolute;
   top: 12.5px;
   left: -45px;
}

.login-box input[type="submit"] {
   border: none;
   outline: none;
   height: 40px;
   font-size: 18px;
   background: var(--purple);
   color: white;
   border-radius: 12.5px;
   font-family: 'Inter', sans-serif;
   font-weight: bold;
   cursor: pointer;
   margin: 15px 0 30px;
}

.login-box input[type="submit"]:hover{
   background-color: rgba(80, 32, 100, 0.925)
}

.login-box a {
   text-decoration: none;
   display: block;
   font-family: 'Inter', sans-serif;
}

.login-box a:hover, .login-box .link-reg a:hover {
   color: rgba(202, 97, 195, 0.9)
}

.login-box .link-reg {
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--black);
   font-size: 18px;
   text-align: center;
}

.login-box .link-reg a {
   color: var(--light-pink);
   font-weight: bold;
   margin-left: 5px;
}

.lock {
   height: 30px;
}

.mail {
   height: 27.5px;
}

.show-hide {
   position: fixed;
   width: 25px;
   height: 25px;
   cursor: pointer;
   background: url('../assets/icons/eye-crossed.svg');
   background-size: 25px;
   background-position: center;
   background-repeat: no-repeat;
   right: 45px;
   margin-top: 7px;
}

.show-hide.active {
   background: url('../assets/icons/eye.svg');
   background-size: 25px;
   background-position: center;
   background-repeat: no-repeat;
}

@media (max-width: 550px) {
   .login-box {
      border: 0;
      background: rgba(0, 0, 0, 0);
   }
}